
<!--END-->
<!--END--><!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
  <title>Тут название страницы написать</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--meta( http-equiv="cache-control" content="no-cache")-->
  <!--meta( http-equiv="expires" content="0")-->
  <!--link(rel="preload" href="assets/css/extra.min.css?v=" + version as="style" crossorigin="anonymous")-->
  <link href="favicon.ico" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=52263780">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=52263780"><!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script defer src="/assets/js/scripts.min.js?v=52263780"></script>
  <script type="text/javascript" th:src="@{/assets/js/headerHandler.js}"></script>

</head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="~{fragments/header_fragment :: headFragment}"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{genres.title}">Жанры
        </h1>
        <div class="Section">
          <div class="Tags Tags_genres">
            <div class="Tags Tags_embed">
              <div class="Tags-title">
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName='', subSectionName='')}"
                        th:text="#{genres.item.0}">Лёгкое
                  чтение<span class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.1}, subSectionName='')}"
                      th:text="#{genres.item.1}">Фантастика<span
                      class="undefined-amount">(44333)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.2}, subSectionName='')}"
                      th:text="#{genres.item.2}">Боевики<span
                      class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tags">
                <div class="Tags-title">
                  <div class="Tag"><a
                          th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName='')}"
                          th:text="#{genres.item.3}">Детективы<span
                          class="undefined-amount">(10)</span></a>
                  </div>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.4})}"
                        th:text="#{genres.item.4}">Триллер<span
                        class="undefined-amount">(134)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.5})}"
                        th:text="#{genres.item.5}">Крутой детектив<span class="undefined-amount">(934)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.6})}"
                        th:text="#{genres.item.6}">
                  Иронический детектив<span class="undefined-amount">(143443)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.7})}"
                        th:text="#{genres.item.7}">
                  Про маньяков<span class="undefined-amount">(3331)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.8})}"
                        th:text="#{genres.item.8}">
                  Шпионский детектив<span class="undefined-amount">(94)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.9})}"
                        th:text="#{genres.item.9}">
                  Криминальный детектив<span class="undefined-amount">(4839)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.10})}"
                        th:text="#{genres.item.10}">
                  Классический детектив<span class="undefined-amount">(4488)</span></a>
                </div>
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.3}, subSectionName=#{genres.item.11})}"
                        th:text="#{genres.item.11}">
                  Политический детектив<span class="undefined-amount">(1)</span></a>
                </div>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.12}, subSectionName='')}"
                      th:text="#{genres.item.12}">Фэнтези<span
                      class="undefined-amount">(14338)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.13}, subSectionName='')}"
                      th:text="#{genres.item.13}">Романы<span
                      class="undefined-amount">(1438)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.14}, subSectionName='')}"
                      th:text="#{genres.item.14}">Ужасы<span
                      class="undefined-amount">(156)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.0}, genresName=#{genres.item.15}, subSectionName='')}"
                      th:text="#{genres.item.15}">Приключения<span
                      class="undefined-amount">(1538)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.16}, genresName='', subSectionName='')}"
                        th:text="#{genres.item.16}">
                  Серьёзное чтение<span class="undefined-amount">(18)</span></a>
                </div>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.16}, genresName=#{genres.item.17}, subSectionName='')}"
                      th:text="#{genres.item.17}">Биографии<span
                      class="undefined-amount">(18)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName='', subSectionName='')}"
                        th:text="#{genres.item.18}">
                  Деловая литература<span class="undefined-amount">(158)</span></a>
                </div>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.19}, subSectionName='')}"
                      th:text="#{genres.item.19}">
                Деловая литература<span class="undefined-amount">(138)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.20}, subSectionName='')}"
                      th:text="#{genres.item.20}">
                Управление экономикой<span class="undefined-amount">(158)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.21}, subSectionName='')}"
                      th:text="#{genres.item.21}">Карьера<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.22}, subSectionName='')}"
                      th:text="#{genres.item.22}">
                Маркетинг, PR, реклама<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.23}, subSectionName='')}"
                      th:text="#{genres.item.23}">Финансы<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.24}, subSectionName='')}"
                      th:text="#{genres.item.24}">Бизнес-справочники<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.25}, subSectionName='')}"
                      th:text="#{genres.item.25}">
                Личные финансы<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.26}, subSectionName='')}"
                      th:text="#{genres.item.26}">Менеджмент<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.27}, subSectionName='')}"
                      th:text="#{genres.item.27}">
                Зарубежная деловая литература<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.28}, subSectionName='')}"
                      th:text="#{genres.item.28}">
                Личная эффективность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.29}, subSectionName='')}"
                      th:text="#{genres.item.29}">Тайм-менеджмент<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.30}, subSectionName='')}"
                      th:text="#{genres.item.30}">
                Малый бизнес<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.31}, subSectionName='')}"
                      th:text="#{genres.item.31}">Продажи<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.32}, subSectionName='')}"
                      th:text="#{genres.item.32}">
                Стартапы и создание бизнеса<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.33}, subSectionName='')}"
                      th:text="#{genres.item.33}">
                Корпоративная культура<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.34}, subSectionName='')}"
                      th:text="#{genres.item.34}">
                Банковское дело<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.35}, subSectionName='')}"
                      th:text="#{genres.item.35}">Логистика<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.36}, subSectionName='')}"
                      th:text="#{genres.item.36}">Недвижимость<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.37}, subSectionName='')}"
                      th:text="#{genres.item.37}">Интернет-бизнес<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.38}, subSectionName='')}"
                      th:text="#{genres.item.38}">
                Ораторское искусство / риторика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.39}, subSectionName='')}"
                      th:text="#{genres.item.39}">
                Привлечение клиентов и лояльность<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.40}, subSectionName='')}"
                      th:text="#{genres.item.40}">Делопроизводство<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.41}, subSectionName='')}"
                      th:text="#{genres.item.41}">Переговоры<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.42}, subSectionName='')}"
                      th:text="#{genres.item.42}">
                Государственное и муниципальное управление, политическое управление<span
                        class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.43}, subSectionName='')}"
                      th:text="#{genres.item.43}">
                О бизнесе популярно<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.44}, subSectionName='')}"
                      th:text="#{genres.item.44}">
                Ценные бумаги / инвестиции<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.45}, subSectionName='')}"
                      th:text="#{genres.item.45}">
                Бухучет / налогообложение / аудит<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.46}, subSectionName='')}"
                      th:text="#{genres.item.46}">
                Российская практика<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.47}, subSectionName='')}"
                      th:text="#{genres.item.47}">
                Истории успеха<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.48}, subSectionName='')}"
                      th:text="#{genres.item.48}">Интернет-маркетинг<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.49}, subSectionName='')}"
                      th:text="#{genres.item.49}">Лидерство<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.50}, subSectionName='')}"
                      th:text="#{genres.item.50}">
                Проектный менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.51}, subSectionName='')}"
                      th:text="#{genres.item.51}">
                Управление качеством<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.52}, subSectionName='')}"
                      th:text="#{genres.item.52}">
                Финансовый менеджмент<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.53}, subSectionName='')}"
                      th:text="#{genres.item.53}">
                Управление персоналом<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.54}, subSectionName='')}"
                      th:text="#{genres.item.54}">Бизнес-процессы<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.18}, genresName=#{genres.item.55}, subSectionName='')}"
                      th:text="#{genres.item.55}">
                Управление бизнесом<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
            <div class="Tags">
              <div class="Tags-title">
                <div class="Tag"><a
                        th:href="@{/genres/slug(sectionName=#{genres.item.56}, genresName='', subSectionName='')}"
                        th:text="#{genres.item.56}">Драматургия<span
                        class="undefined-amount">(15638)</span></a>
                </div>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.56}, genresName=#{genres.item.57}, subSectionName='')}"
                      th:text="#{genres.item.57}">
                Античная драма<span class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.56}, genresName=#{genres.item.58}, subSectionName='')}"
                      th:text="#{genres.item.58}">Комедия<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.56}, genresName=#{genres.item.59}, subSectionName='')}"
                      th:text="#{genres.item.59}">Сценарий<span
                      class="undefined-amount">(15638)</span></a>
              </div>
              <div class="Tag"><a
                      th:href="@{/genres/slug(sectionName=#{genres.item.56}, genresName=#{genres.item.60}, subSectionName='')}"
                      th:text="#{genres.item.60}">
                Драма, пьеса<span class="undefined-amount">(15638)</span></a>
              </div>
            </div>
          </div>

        </div>
      </main>
    </div>
  </div>
  <footer th:replace="~{fragments/footer_fragment :: footFragment}"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <script>
    const itemActive = document.getElementById(localStorage.getItem('clickedPoint'));
    itemActive.classList.add('menu-item_ACTIVE');
  </script>

  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>